#maindiv {
	font-family: calibri;
	width: 70%;
}

.heading {
	background-color: #30567a;
	color: #fbfffe;
	padding: 10px;
	/*font-family: Calibri;*/
}

ul {
	background-color: #3c72a1;
	padding-inline-start: 0px;
	margin-top: -20px;
}

li {
	display: inline;
	list-style-type: none;
	color: #d4f4ff;
}

li a {
	color: #d4f4ff;
	text-decoration: none;
}

#p1 {
	color: #1b2046;
}

footer {
	/*border: 0px solid black;*/
	border-top: 1px solid black;
}
